
        body {
                /* fonte do texto */
                font-family: Arial, sans-serif;
                background-color: rgb(98, 99, 99);
                /* usa modelo FlexBox, conceito de caixa para posicionamento */
                display: flex;
                justify-content: center; /* centraliza na horizontal */
                height: 100vh; /* altura da página 100% da altura da página*/
                align-items: center; /* centraliza na vertical */

            }
            .container {
                background-color: white;
                padding: 20px; /* espaçamento interno */
                border-radius: 10px; /* borda */
                text-align: center; /* texto centralizado */
                box-shadow: 0 6px 10px ; /* sombra */
            }
            button{
                background-color: rgb(145, 141, 141);
                color: rgb(0, 0, 0) ;
                border: none;
                padding:  8px 10px;
                border-radius: 10px;
            }
            /*ao passar o mouse em cima do botão*/
            Button:hover {
                background-color: rgb(155, 147, 147);
            }
                .foto{
                    border-radius: 50%; /*Borda com cantos arredondados*/
                    width: 100px; /*largura*/
                    height: 100px; /*espaçamento externo abaixo*/
                    margin-bottom: 10px;  /**/
                }