body{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: rgb(235, 234, 234);
text-align: center;
}   
header{
background: #344f8a;
color: white;
padding: 15px 0; /*espaçamento interno 15px à acima e abaixo, e 0px esquerda e direita*/
font-size: 24px;
}
nav{
background-color: rgb(224, 224, 224);
padding: 10px;
display: flex; /*Flex Boxing*/
/*Alinhamento horizontal - espaço entre os links*/
justify-content: space-between;
/*Alinhamento na vertical*/
align-items: center;
}

#links{
display: flex;
gap: 20px;
}
/*Configura o estilo das âncoras que estão dentro do nav*/
nav a{
color:#344f8a; /*Texto branco*/
text-decoration: none; /*Não faz decoração no link*/
padding: 10px 15px;
font-size: 19px;

}
nav a:hover {
color: #678ddd;
}
img{
width: 80px;
height: auto;
margin-right: 20px; /*Espaçamento externo a direita de 20px*/
border-radius: 15px;
box-shadow: 0 2px 4px;
}
.container{
width: 80%;
margin: 20px auto; /*20px em cima e embaixo e automática esquerda e direita*/
background-color: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 2px 4px;
text-align: justify;

}
h2{
text-align: center;
}



}

.campos{
    margin-bottom: 10px;
    border:  1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 11px;
    background-color: #e6e5e5;
    box-shadow: 1px 1.5px 1px;
}
equipe{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #344f8a;
}
.Laranja{
    background-color: rgb(231, 126, 14);
    color: white;
    text-align: center;
}
.Preto{
    background-color: black;
    color: white;
    text-align: center;
}
.Roxa{
    background-color: rgb(161, 14, 161);
    color: white;
    text-align: center;
}
.Verde{
    background-color: rgb(10, 170, 10);
    color: white;
    text-align: center;
}
.Vermelha{
    background-color: red;
    color: white;
    align-items: center;
    text-align: center;
}
.tabela{
    border-radius: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    
}
table th, tr, td{
    border: solid 1px black;
}
table th{
    background-color: #344f8a;
    color: #e6e5e5;
    text-align: center;
}
.centralizado{
    text-align: center;
}